/* Global styles
///////////////////////////// */
* {
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #333;
    color: #aaa;
    margin: 0;
    padding: 40px 20px;
}
#main {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
#timeline, #img-div {
    background-color: #111;
    color: #aaa;
    border-radius: 10px;
}


/* Banner Section
////////////////////////// */

#banner-section {
    text-align: center;
}
#description, #img-caption {
    text-transform: capitalize;
}
#img-div {
    padding: 0px;
    margin: 0;
}
#img-caption {
    font-size: 24px;
    padding: 10px 10px 25px 10px;
}


/* Timeline Section
////////////////////////////////*/

#timeline {
    padding: 15px;
}
